.landingPageContainer {
  height: 100vh;
  width: 100vw;
  background: url("/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.landingPageContainer nav {
  padding-inline: 1.2rem;
  padding-block: 1.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.landingPageContainer nav h2 {
  font-size: 1.7rem;
  font-weight: 700;
  cursor: pointer;
}

strong {
  font-weight: 600;
}

.landingPageContainer nav .navList {
  display: flex;
  justify-content: space-around;
  gap: 1rem;
}

.landingPageContainer nav .navList * {
  cursor: pointer;
}

.landingMainContainer {
  display: flex;
  justify-content: space-between;
  padding-inline: 3rem;
  height: 70vh;
  align-items: center;
}

.mobileImage {
  pointer-events: none;
  margin-top: 1.5rem;
  height: 70vh;
  width: auto;
}

.landingMainContainer > div:nth-child(1) {
  font-size: 2rem;
}

.landingMainContainer > div:nth-child(1) div[role="button"] {
  background-color: #ffa500;
  width: fit-content;
  height: auto;
  padding: 0.5rem;
  margin-top: 2rem;
  border-radius: 20px;
}

.landingMainContainer > div:nth-child(1) div[role="button"] a {
  text-decoration: none;
  color: azure;
  font-size: 1.5rem;
}

.navBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 20px;
}

.meetContainer {
  display: flex;
  padding-inline: 20px;
  height: 80vh;
  gap: 10vw;
  justify-content: center;
}

.leftPanel {
  height: 100%;
  display: flex;
  align-items: center;
}

.rightPanel {
  display: flex;
  align-items: center;
}

.rightPanel > img {
  width: 30vw;
  height: auto;
  border-radius: 20px;
}
